[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dataclasses-json = "*"
fastapi = "*"
ffmpeg-normalize = "*"
jinja2 = "*"
pillow = "*"
python-multipart = "*"
six = "*"
starlette = "*"
timeago = "*"
uvicorn = {extras = ["standard"], version = "*"}
werkzeug = "*"
yt-dlp = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
