html, body {
    font-size: 20px;
}

@media screen and (min-width: calc(1920px * 1.1)) {
    html, body {
        zoom: 1.075;
        /*zoom: 1.0675;*/
    }
}

@media screen and (min-width: calc(1920px * 1.2)) {
    html, body {
        zoom: 1.15;
        /*zoom: 1.135;*/
    }
}

iframe {
    border: 0;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

.credits {
    letter-spacing: 0.2px;
    font-size: 0.75em;
}

/*noinspection CssOverwrittenProperties*/
.border-rainbow {
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.board-2 {
    color: silver;
    font-weight: bold;
}

.board-3 {
    color: saddlebrown;
    font-weight: bold;
}

.clip-credits {
    font-size: 1.1em;
    line-height: 1em;
}

.card-body {
    padding-bottom: 0;
}

tr:last-child > td {
    border-bottom: unset;
}

.vote-mark {
    color: #9146ff;
    font-size: 1.35em;
    font-weight: bold;
    font-style: italic;
    margin-right: 0.05em;
}

.btn-check + .btn {
    border: 2px solid rgba(255, 255, 255, .3);
    transition: background 0.1s ease-in, transform 0.1s ease-in;
}

.btn-check + .btn:hover {
    border: 2px solid rgba(220, 220, 220, 1);
}

.btn-check:checked + .btn {
    border: 2px solid transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
    overflow: hidden;

    transform: scale(1.05);
}

.btn-check:checked + .btn:after {
    animation: shine 0.38s linear;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: linear-gradient(
            to right,
            transparent 0%,
            transparent 45%,
            rgba(130, 130, 130, 0.25) 70%,
            rgba(130, 130, 130, 0.70) 90%,
            transparent 100%
    );
}

@keyframes shine {
    50% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}

div.btn {
    cursor: unset;
}

.table .rank-image {
    max-height: 1.4em;
}

td.shrink {
    white-space: nowrap;
}

td.expand {
    width: 99%;
}

.top-users {
    font-size: 0.8em;
}

.top-users td {
    padding: .3rem .5rem;
}

.first-img {
    height: 1em;
}

.winner {
    font-weight: bold;
    color: #20c997;
    opacity: 0.9;

    text-transform: uppercase;

    position: relative;
    font-size: .7em;
    top: -0.15em;
}

.broken-video {
    font-size: .65em;
    opacity: 0.8;
}

.total-stars {
    font-size: 1.1em;
    font-weight: bold;
    opacity: 0.85;
}
