html, body {
    font-size: 20px;
}

iframe {
    border: 0;
}

.credits {
    letter-spacing: .2px;
    font-size: 0.75em;
}

.card-body {
    padding-bottom: 0;
}

tr:last-child > td {
    border-bottom: unset;
}

.vote-mark {
    color: #9146ff;
    font-size: 1.35em;
    font-weight: bold;
    font-style: italic;
}

.btn-check + .btn {
    transition: transform 100ms;
}

.btn-check:checked + .btn {
    transform: scale(1.05);
}

div.btn {
    cursor: unset;
}

.table .rank-image {
    max-height: 1.4em;
}

td.shrink {
    white-space: nowrap;
}

td.expand {
    width: 99%;
}

.top-users {
    font-size: 0.8em;
}

.top-users td {
    padding: .3rem .5rem;
}

.first-img {
    height: 1em;
}
