{% import '_stars.jinja2' as stars %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Teodle</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
</head>
<body>

<div class="credits text-end mx-1">
    <span class="small">Website by</span> Kamil Monicz (Zaczero)
</div>
<div class="mt-2 mb-4">
    <div class="container">

        <h3 class="mb-3 text-center">Teodle</h3>

        {{ stars.new(vote) }}

        {% block body %}{% endblock %}

    </div>

    {% block body_nocontainer %}{% endblock %}
</div>

<script src="{{ url_for('static', path='/js/darkreader.min.js') }}"></script>
<script>
    DarkReader.enable({
        brightness: 100,
        contrast: 100,
        sepia: 10
    })
</script>

<script src="{{ url_for('static', path='/js/chart.umd.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/chartjs-plugin-annotation.min.js') }}"></script>

{% block script %}{% endblock %}

</body>
</html>
