{% macro new() %}
<div id="congratulate-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="congratulate-modal-username" class="modal-title">monke_0</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body comment px-2 py-3">
                <p id="congratulate-modal-message">Loading...</p>
            </div>
            <div class="modal-footer text-end small py-1">
                <p class="mb-0">
                    ≋ M ≋ V ≋ P ≋
                </p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
