{% macro new() %}
<div class="text-secondary">
    <small>
        This website's code is publicly available at
        <a class="text-decoration-none" href="https://github.com/Zaczero/teodle"
            target="_blank">github.com/Zaczero/teodle</a>
        <br>
    </small>
    Learn and contribute — it's Python 🐍!
</div>
{% endmacro %}
