{% macro new(vote) %}
<div class="stars card">
    <div class="card-body py-0">

        <div class="row">
            <div class="col my-3">
                <div class="d-flex align-items-center h-100">
                    <div>

                        <h5 class="mb-1">Teo</h5>

                        <div class="row g-2">
                            <div class="col-auto">
                                <div class="d-flex align-items-center h-100">
                                    <span class="total-stars">{{ vote.total_streamer_stars }}</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex align-items-center justify-content-end h-100">
                                    {% for _ in range(vote.total_streamer_stars) %}
                                    ⭐️
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-center h-100">
                    <img src="/static/img/vs.png" width="110" style="opacity: 0.7">
                </div>
            </div>
            <div class="col my-3 text-end">
                <div class="d-flex align-items-center justify-content-end h-100">
                    <div>

                        <h5 class="mb-1">Chat</h5>

                        <div class="row g-2">
                            <div class="col">
                                <div class="d-flex align-items-center justify-content-end h-100">
                                    {% for _ in range(vote.total_users_stars) %}
                                    ⭐️
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="d-flex align-items-center justify-content-end h-100">
                                    <span class="total-stars">{{ vote.total_users_stars }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endmacro %}
