{% macro new() %}
<div class="d-flex justify-content-center mt-5 mb-4">
    {% for i, friend in FRIENDS | enumerate %}
    <form class="d-inline me-3" action="/next_clip" method="post">
        <input type="hidden" name="clip_idx" value="{{ vote.clip_idx }}">
        <input type="hidden" name="friend_idx" value="{{ i }}">
        <button type="submit" class="btn btn-lg btn-primary start-game">
            <span class="me-2">Play as <b>{{ friend.name }}</b></span>
            <img src="/static/img/{{ friend.icon }}" height="36">
        </button>
    </form>
    {% endfor %}

</div>

<div class="text-secondary small">
    {% if downloader.processing < 1 %}
    Downloading {{ '{:.0%}' .format(downloader.processing) }}
    •
    {% else %}
    ✓
    {% endif %}
    <a class="text-secondary" href="/config">Configuration</a>
    •
    Last modified: {{ config_mtime }}
    •
    <form class="d-inline" action="/next_clip" method="post">
        <input type="hidden" name="clip_idx" value="{{ vote.clip_idx }}">
        <input type="hidden" name="friend_idx" value="0">
        <input type="hidden" name="testing" value="True">
        <input type="submit" class="btn btn-sm btn-link p-0" value="Test game">
    </form>
</div>
{% endmacro %}
