{% macro new(vote) %}
    <div class="stars card">
        <div class="card-body">

            <div class="row">
                <div class="col">

                    <h5>Teo</h5>
                    <p>
                        (<b>{{ vote.total_teo_stars }}</b>)
                        {% for _ in range(vote.total_teo_stars) %}
                            ⭐️
                        {% endfor %}
                    </p>

                </div>
                <div class="col text-end">

                    <h5>Chat</h5>
                    <p>
                        {% for _ in range(vote.total_users_stars) %}
                            ⭐️
                        {% endfor %}
                        (<b>{{ vote.total_users_stars }}</b>)
                    </p>

                </div>
            </div>

        </div>
        <img class="position-absolute" src="/static/img/vs.png" width="110" style="left: calc(50% - 55px); opacity: 0.7">
    </div>
{% endmacro %}
