{% macro new() %}
<div class="summary card">
    <div class="card-body py-1 px-0">
        <div class="summary-wrapper table-responsive px-3">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Played on</th>
                        <th class="text-center"><img class="me-1" src="/static/img/{{ STREAMER_ICON }}" height="24">{{ STREAMER_NAME }}</th>
                        <th class="text-center"><img class="me-1" src="/static/img/chat.png" height="24">Chat</th>
                        <th class="text-end"><img class="me-1" src="/static/img/chad.webp" height="24">MVP</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in summary %}
                    <tr>
                        <td>{{ entry.date_str }}</td>
                        <td class="text-center">
                            {{ entry.streamer_stars }}

                            {% if entry.streamer_stars > entry.users_stars %}
                            <span class="winner">Winner</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {{ entry.users_stars }}

                            {% if entry.users_stars > entry.streamer_stars %}
                            <span class="winner">Winner</span>
                            {% endif %}
                        </td>
                        <td class="text-end {{ 'star-glow' if entry.top_user_stars == entry.max_stars else '' }}">
                            {% if entry.top_user_stars > 0 %}

                            <span class="me-2">
                                {{ entry.top_user_name }}
                            </span>

                            <span class="me-1">
                                {{ entry.top_user_stars }}
                                of
                                {{ entry.max_stars }}
                            </span>

                            {% if entry.top_user_stars == entry.max_stars %}
                            🌟
                            {% else %}
                            ⭐️
                            {% endif %}

                            {% endif %}
                        </td>
                        <td class="font-monospace">
                            {% if entry.top_user_stars > 0 %}
                            | {{ entry.top_user_stars_history | join(' ') }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}
