{% macro new(summary) %}
    <div class="summary card">
        <div class="card-body py-1">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th>Played on</th>
                        <th class="text-center"><img class="me-1" src="/static/img/teo.png" height="24">Teo</th>
                        <th class="text-center"><img class="me-1" src="/static/img/chat.png" height="24">Chat</th>
                        <th class="text-end pe-5"><img class="me-1" src="/static/img/chad.webp" height="24">MVP
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in summary %}
                        <tr>
                            <td>{{ entry.date }}</td>
                            <td class="text-center">
                                {{ entry.teo_stars }}

                                {% if entry.teo_stars > entry.users_stars %}
                                    (<span class="winner">Winner</span>)
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {{ entry.users_stars }}

                                {% if entry.teo_stars < entry.users_stars %}
                                    (<span class="winner">Winner</span>)
                                {% endif %}
                            </td>
                            <td class="text-end">
                                {% if entry.top_user_stars > 0 %}
                                    <span class="me-3">{{ entry.top_user_name }}</span>
                                    {{ entry.top_user_stars }} ✕ ⭐️
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}
