{% macro new(rank) %}
<div class="your-vote">
    <div class="table-responsive">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <td class="shrink">You answered:</td>
                    <td class="expand">
                        <img class="me-1" src="/ranks/{{ rank.image.name }}" alt="" height="30">
                        {{ rank.title }}
                    </td>
                </tr>
                <tr>
                    <td class="shrink">Correct answer:</td>
                    <td class="expand">
                        <img class="me-1" src="/ranks/{{ vote.clip.answer.image.name }}" alt="" height="30">
                        {{ vote.clip.answer.title }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}
