{% extends '_base.jinja2' %}
{% block body %}

    <form action="/config" method="post">

        <textarea class="form-control mb-4" name="config" rows="20" required>{{ config }}</textarea>

        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" href="/">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Save">
        </div>

    </form>

{% endblock %}
