{% extends '_base.jinja2' %}
{% block body %}

    <form class="text-center" action="/next_clip" method="post">
        <input type="hidden" name="clip_idx" value="{{ vote.clip_idx }}">

        <div class="alert alert-info mb-3">
            <h5 class="alert-heading">Update: 20<sup>th</sup> January</h5>
            <div>
                Added an option to re-watch the clip after voting.<hr>
                This website has been made free and open-source — <a class="text-decoration-none" href="https://github.com/Zaczero/teodle" target="_blank">github.com/Zaczero/teodle</a>.
            </div>
        </div>

        <div class="alert alert-info mb-5" style="opacity: 0.4; scale: 0.9">
            <h5 class="alert-heading">Update: 19<sup>th</sup> January</h5>
            <div>
                Viewers can now use the first three or more letters of a rank name to cast a vote.<br>
                For example, <code>!plat</code> will be counted as <code>!platinum</code>.<br>
                Please note that it is not possible to change your vote once it has been cast.<br>
                The video player has been enlarged.
            </div>
        </div>

        <div class="mt-5 mb-4">
            <input type="submit" class="btn btn-lg btn-primary" value="Start️ game">
        </div>

        <div class="text-secondary small">
            <a class="text-secondary" href="/config">Clip config</a> • Last modified: {{ config_mtime }}
        </div>

    </form>

{% endblock %}
