{% extends '_base.jinja2' %}
{% import '_start.jinja2' as start with context %}
{% import '_footer.jinja2' as footer with context %}
{% block body %}

<div class="text-center">

    <div class="alert alert-info mt-4 mb-3">
        <h5 class="alert-heading">Update: 5<sup>th</sup> April</h5>
        <div>
            Added <b style="color: pink">friends mode</b>:<br>
            <div class="mb-1"></div>
            <b><u>How it works</u>:</b>
            Teo plays a new game and then their friends can replay the same game with their own chat.<br>
            The scores that the friends achieve are then added to the summary at the end screen.<br>
            There is no MVP mode for the friends as it would be easy to abuse.
            <div class="mb-2"></div>
            If you are a <b style="color: goldenrod">legend</b> 🤘 and would like to play Teodle, just contact Teo 😎.
        </div>
    </div>

    <div class="alert alert-info mt-4 mb-3">
        <h5 class="alert-heading">Update: 2<sup>nd</sup> April</h5>
        <div>
            Added clip stars on the leaderboard hover.<br>
            Added clip stars in the game summary + a small redesign.<br>
            Balanced CS:GO ranks.<br>
            <hr>
            Big thanks to <b>@Wouter17</b> on GitHub for helping out!
        </div>
    </div>

    <div class="alert alert-secondary mt-4 mb-3">
        <div>
            <b style="color: darkviolet">Teodle for Twitch</b> extension is now available.<br>
            Get it here: <a class="fs-5 text-decoration-none" href="https://teodle.monicz.dev" target="_blank">teodle.monicz.dev</a>
        </div>
    </div>

    {{ start.new() }}

    <hr style="margin: 3.5em 0 2.5em">

    {{ footer.new() }}

</div>

{% endblock %}
