{% extends '_base.jinja2' %}
{% import '_start.jinja2' as start with context %}
{% import '_footer.jinja2' as footer with context %}
{% block body %}

<div class="text-center">

    <div class="alert alert-info mt-4 mb-3">
        <h5 class="alert-heading">Update: 2<sup>nd</sup> April</h5>
        <div>
            Added clip stars on the leaderboard hover.<br>
            Added clip stars in the game summary.
            <hr>
            Big thanks to <b>@Wouter17</b> on GitHub for helping out!
        </div>
    </div>

    <div class="alert alert-secondary mt-4 mb-3">
        <div>
            <b style="color: darkviolet">Teodle for Twitch</b> extension is now available.<br>
            Get it here: <a class="fs-5 text-decoration-none" href="https://teodle.monicz.dev" target="_blank">teodle.monicz.dev</a>
        </div>
    </div>

    {{ start.new() }}

    <hr style="margin: 3.5em 0 2.5em">

    {{ footer.new() }}

</div>

{% endblock %}
