{% extends '_base.jinja2' %}
{% block body %}

<form class="text-center" action="/next_clip" method="post">
    <input type="hidden" name="clip_idx" value="{{ vote.clip_idx }}">

    <div class="alert alert-info mt-4 mb-3">
        <h5 class="alert-heading">Update: 22<sup>nd</sup> February</h5>
        <div>
            Change the maximum stars count.<br>
            ⭐⭐ → ⭐⭐⭐<br>
            <div class="mb-1"></div>
            <span class="small">Credits to @linours3410 on YouTube</span>
            <hr>
            Additional clip file post-processing:<br>
            <span class="small">audio volume normalization + video deartefacting</span>
        </div>
    </div>

    <div class="alert alert-info mt-4 mb-3">
        <h5 class="alert-heading">Update: 21<sup>st</sup> February</h5>
        <div>
            In summary, display also the maximum possible stars.<br>
            <span class="small">10 of 12, 9 of 10, etc.</span>
        </div>
    </div>

    <div class="mt-5 mb-4">
        <input type="submit" class="btn btn-lg btn-primary" value="Start game">
    </div>

    <div class="text-secondary small">
        {% if downloader.processing < 1 %} Downloading {{ '{:.0%}' .format(downloader.processing) }} • {% else %} ✓ {%
            endif %} <a class="text-secondary" href="/config">Configuration</a> • Last modified: {{ config_mtime }}
    </div>

    <hr style="margin: 3.5em 0 2.5em">

    <div class="text-secondary">
        <small>
            This website's code is publicly available at
            <a class="text-decoration-none" href="https://github.com/Zaczero/teodle"
                target="_blank">github.com/Zaczero/teodle</a>
            <br>
        </small>
        Learn and contribute — it's Python 🐍!
    </div>

</form>

{% endblock %}
